{% extends 'layout/back.html' %}
{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">名字</th>
        <th scope="col">帳號</th>
        <th scope="col">密碼</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.name }}</td>
            <td>{{ i.account }}</td>
            <td>{{ i.password }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
    
{% endblock main %}