{% extends 'layout/back.html' %}
{% block main %}
<h1 class="mt-4">管理使用者</h1>
<table class="table" style="width: 1000px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">名字</th>
        <th scope="col">帳號</th>
        <th scope="col">密碼</th>
        <th scope="col">功能</th>
      </tr>
    </thead>
    <tbody>
        {% for i in range(data|length) %}
        <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ data[i].name }}</td>
            <td>{{ data[i].account }}</td>
            <td>{{ data[i].password }}</td>
            <td>
              <div class="row">
                <div class="col">
                  <a type="button" class="btn btn-outline-success mx-4" href="/edit/{{ data[i].id }}">修改</a>
                </div>
                <div class="col">
                  <form action="/deleteuser/{{ data[i].id }}" method="post">
                  <button class="btn btn-outline-danger" onclick="if(confirm('您確定要刪除嗎？')) return true;else return false">刪除</button>
                </form>
              </div>
              </div>
              
              
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create" style="right: 200px; position: absolute;">
  新增
</button>

{% block modal %}
        
<!-- Modal -->
<div class="modal fade modal-lg" id="create" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createLabel">新增使用者</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/createuser" method="post" onsubmit="return CheckSubmit();">
      <div class="modal-body">
        <label class="form-label" for="username">使用者名稱</label>
        <input id="username" class="form-control " name="username" />
        <label class="form-label" for="account">使用者帳號</label>
        <input id="account" class="form-control " name="account" />
        <label class="form-label" for="password">使用者密碼</label>
        <input id="password" class="form-control " name="password" type="password" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock modal %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <script>Success('{{message}}')</script>
      {% endfor %}
  {% endif %}
  {% endwith %}

{% endblock main %}